.word {
    background-color: #ffc845;
    cursor: pointer;
    width: 100%;
    min-width: 100px;
    border: none;
    padding: 7px 10px 7px 10px;
    margin-left: 10px;
}

.word.selected {
    background-color: #537b35;
}

.word-block {
    display: block;
    max-width: 600px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.word-wrapper {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.check-img {
    cursor: pointer;
}




.vocabulary-add-button {
    margin-left: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.words-list {
    /* padding: 50px; */
    position: relative;
    margin-top: 50px;
    margin-bottom: 30px;
}

.all-selected-words-wrapper {
    position: absolute;
    right: 100px;
    top: 30px;
}

.selected-all-button,
.unselecting-all-button {
    padding: 7px;
    display: inline-block;
    outline: none;
    border: none;
    background-color: green;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 15px;


} 

.unselecting-all-button {
    background-color: red;
}

.selecting-buttons {
    max-width: 500px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}